*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#ff9a9e,#fad0c4);

}

.card{

background:white;
padding:40px;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,0.2);

text-align:center;
width:380px;

}

.foto{

width:100%;
border-radius:15px;
margin-bottom:25px;

}

.botones{

display:flex;
justify-content:center;
gap:30px;

}

button{

padding:14px 28px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;

}

#si{

background:#ff4d6d;
color:white;

}

#no{

background:#ccc;

}